<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\CompositeConfigProvider">
        <arguments>
            <argument name="configProviders" xsi:type="array">
                <item name="lomi_payments_config_provider" xsi:type="object">Lomi\Payments\Model\Ui\ConfigProvider</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\App\Request\CsrfValidator">
        <plugin name="lomi_payments_csrf_validator_skip" type="Lomi\Payments\Plugin\CsrfValidatorSkip" />
    </type>

    <!-- CSP: register Lomi (checkout/API) domains via PHP collector (frontend only) -->
    <type name="Magento\Csp\Model\CompositePolicyCollector">
        <arguments>
            <argument name="collectors" xsi:type="array">
                <item name="lomi-payments-csp" xsi:type="object">Lomi\Payments\Model\CspPolicyCollector</item>
            </argument>
        </arguments>
    </type>
</config>
